[submodule "Home"]
	path = Home
	url = https://github.com/Valinaa/Site-Home.git
[submodule "Pages"]
	path = Pages
	url = https://github.com/Valinaa/Site-Pages.git
[submodule "Intro"]
	path = Intro
	url = https://github.com/Valinaa/Site-Intro.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/Valinaa/Site-Blog.git
