[submodule "Main"]
	path = Main
	url = https://github.com/Valinaa/Site-Main.git
[submodule "Intro"]
	path = Intro
	url = https://github.com/Valinaa/Site-Intro.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/Valinaa/Site-Blog.git
[submodule "Home"]
	path = Home
	url = https://github.com/Valinaa/Site-Home.git